@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


@font-face {
  font-family: 'gallery_modernregular';
  src: url('../src/styles/gallerymodern-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  background: linear-gradient(178deg, #131a52, #12484e, #612e59, #12084b);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@keyframes AnimationName {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}

.Nav {
position:fixed;
width: 100vw;
  text-decoration: none;
  list-style:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  color: rgb(242, 233, 228);
  font-size: 3rem;
  margin: 2rem;


}

 


.work-data {

  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



p {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(242, 233, 228);
  font-size: 1.4rem;
  letter-spacing: 2px;

}

.cardtext {
  font-family: 'Josefin Sans', sans-serif;

  color: rgb(6, 60, 80);



}


.MuiCardMedia-img {
  height: 200px;
  width:auto;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



