@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


@font-face {
  font-family: 'gallery_modernregular';
  src: url('../src/styles/gallerymodern-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  background-color:rgb(34, 34, 59);
  margin: 0;

}

.Nav {
  font-family: 'gallery_modernregular';
  text-decoration: none;
  list-style:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  color: rgb(242, 233, 228);
  font-size: 5rem;
  margin: 2rem;


}

 


.work-data {

  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.resume {
  background-color: rgb(152, 245, 225)

  
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(6, 60, 80);

}

.cardtext {
  font-family: 'Josefin Sans', sans-serif;

  color: rgb(6, 60, 80);



}


.MuiCardMedia-img {
  height: 200px;
  width:auto;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



